In [1]:
import os
import pandas as pd

In [2]:
TEST_DIR = 'Test'
TRAIN_DIR = 'Train'

In [3]:
train_bureau_pd = pd.read_excel(os.path.join(TRAIN_DIR, 'train_bureau.xlsx'))
test_bureau_pd = pd.read_excel(os.path.join(TEST_DIR, 'test_bureau.xlsx'))

In [11]:
train_bureau_pd[train_bureau_pd['ID'] == 1][['SELF-INDICATOR', 'DATE-REPORTED']]

   SELF-INDICATOR DATE-REPORTED
0           False    2018-04-30
1           False    2019-12-31
2            True    2020-01-31
3            True    2017-09-30
4            True    2016-02-29
5           False    2018-04-30
6           False    2019-12-31
7            True    2017-09-30
8            True    2017-07-31

In [85]:
train_bureau_pd.isnull().sum()

ID                                0
SELF-INDICATOR                    0
MATCH-TYPE                        0
ACCT-TYPE                         0
CONTRIBUTOR-TYPE                  0
DATE-REPORTED                  3683
OWNERSHIP-IND                     0
ACCOUNT-STATUS                    0
DISBURSED-DT                  32150
CLOSE-DT                     251758
LAST-PAYMENT-DATE            319283
CREDIT-LIMIT/SANC AMT        545685
DISBURSED-AMT/HIGH CREDIT         0
INSTALLMENT-AMT              420509
CURRENT-BAL                     233
INSTALLMENT-FREQUENCY        425135
OVERDUE-AMT                  118891
WRITE-OFF-AMT                 19123
ASSET_CLASS                  300376
REPORTED DATE - HIST          19123
DPD - HIST                    19647
CUR BAL - HIST                19123
AMT OVERDUE - HIST            19123
AMT PAID - HIST               20294
TENURE                       368107
dtype: int64

In [99]:
train_bureau_pd[train_bureau_pd['ID'] == 1]['CUR BAL - HIST'].loc[1]

'20797,21988,23174,24341,25504,26648,27780,28910,30020,31128,32267,33427,34547,35655,36764,37850,38939,40004,41059,42118,44601,44181,'

In [97]:
train_bureau_pd.groupby(['ID']).size()

ID
1          9
2         13
3         31
7          4
8          7
          ..
143390     2
143391     1
143393     4
143394     1
143395     1
Length: 128655, dtype: int64

In [51]:
def create_data(data):
    new_data = []
    for ID in data['ID'].unique():
        [ID,
         
        ]
    return new_data

In [52]:
a = create_data_table(train_bureau_pd)

In [53]:
a

Empty DataFrame
Columns: [ID]
Index: []