In [1]:
import os
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
TEST_DIR = 'Test'
TRAIN_DIR = 'Train'

In [3]:
train_bureau_path = os.path.join(TRAIN_DIR, 'train_bureau.xlsx')
train_bureau_pd = pd.read_excel(train_bureau_path)
train_bureau_pd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 560844 entries, 0 to 560843
Data columns (total 25 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   ID                         560844 non-null  int64
 1   SELF-INDICATOR             560844 non-null  bool
 2   MATCH-TYPE                 560844 non-null  object
 3   ACCT-TYPE                  560844 non-null  object
 4   CONTRIBUTOR-TYPE           560844 non-null  object
 5   DATE-REPORTED              557161 non-null  datetime64[ns]
 6   OWNERSHIP-IND              560844 non-null  object
 7   ACCOUNT-STATUS             560844 non-null  object
 8   DISBURSED-DT               528694 non-null  datetime64[ns]
 9   CLOSE-DT                   309086 non-null  object
 10  LAST-PAYMENT-DATE          241561 non-null  datetime64[ns]
 11  CREDIT-LIMIT/SANC AMT      15159 non-null   object
 12  DISBURSED-AMT/HIGH CREDIT  560844 non-null  object
 13  INSTALLMENT-AMT            140335 non-null  object
 14  CURRENT-BAL                560611 non-null  object
 15  INSTALLMENT-FREQUENCY      135709 non-null  object
 16  OVERDUE-AMT                441953 non-null  object
 17  WRITE-OFF-AMT              541721 non-null  float64
 18  ASSET_CLASS                260468 non-null  object
 19  REPORTED DATE - HIST       541721 non-null  object
 20  DPD - HIST                 541197 non-null  object
 21  CUR BAL - HIST             541721 non-null  object
 22  AMT OVERDUE - HIST         541721 non-null  object
 23  AMT PAID - HIST            540550 non-null  object
 24  TENURE                     192737 non-null  float64
dtypes: bool(1), datetime64[ns](3), float64(2), int64(1), object(18)
memory usage: 103.2+ MB

In [4]:
train_data_path = os.path.join(TRAIN_DIR, 'train_Data.xlsx')
train_data_pd = pd.read_excel(train_data_path)

In [5]:
test_bureau_path = os.path.join(TEST_DIR, 'test_bureau.xlsx')
test_bureau_pd = pd.read_excel(test_bureau_path)

In [6]:
test_data_path = os.path.join(TEST_DIR, 'test_Data.xlsx')
test_data_pd = pd.read_excel(test_data_path)

In [7]:
# corrmat = train_data_pd.corr()
# fix, ax = plt.subplots(figsize=(12,9))
# sns.heatmap(corrmat, square=True, annot=True, linewidths=0.5, cmap='Blues')

In [8]:
train_data_pd.dtypes[train_data_pd.dtypes == 'object']

Frequency        object
InstlmentMode    object
LoanStatus       object
PaymentMode      object
Area             object
SEX              object
City             object
State            object
Top-up Month     object
dtype: object

In [9]:
train_data_pd.isnull().sum()

ID                     0
Frequency              0
InstlmentMode          0
LoanStatus             0
PaymentMode            0
BranchID               0
Area               11653
Tenure                 0
AssetCost              0
AmountFinance          0
DisbursalAmount        0
EMI                    0
DisbursalDate          0
MaturityDAte           1
AuthDate               0
AssetID                0
ManufacturerID         0
SupplierID             0
LTV                    0
SEX                   59
AGE                   59
MonthlyIncome        234
City               11256
State                  0
ZiPCODE              372
Top-up Month           0
dtype: int64

In [10]:
for id in train_data_pd['BranchID'].unique():
    area = train_data_pd[train_data_pd['BranchID'] == id].Area.mode()
    print(f'Id = {id}: {area}')

Id = 1: Series([], dtype: object)
Id = 333: 0    BHOPAL
dtype: object
Id = 125: 0    GUNA
dtype: object
Id = 152: 0    BILASPUR
dtype: object
Id = 5: 0    RAIPUR
dtype: object
Id = 154: Series([], dtype: object)
Id = 79: Series([], dtype: object)
Id = 8: 0    BHUBANESHWAR
dtype: object
Id = 194: 0    CUTTACK
dtype: object
Id = 316: 0    BHUBANESHWAR
dtype: object
Id = 9: 0    BURDWAN
dtype: object
Id = 10: Series([], dtype: object)
Id = 231: Series([], dtype: object)
Id = 289: 0    DURGAPUR
dtype: object
Id = 149: 0    SILIGURI
dtype: object
Id = 229: 0    BURDWAN
dtype: object
Id = 16: 0    BHUBANESHWAR
dtype: object
Id = 17: Series([], dtype: object)
Id = 19: 0    UDAIPUR
dtype: object
Id = 20: 0    CHANDIGARH
dtype: object
Id = 200: 0    LUDHIANA   RANI JHANSI ROAD
dtype: object
Id = 21: 0    JAIPUR
dtype: object
Id = 281: 0    JAIPUR
dtype: object
Id = 110: 0    JAIPUR
dtype: object
Id = 205: 0    JAIPUR
dtype: object
Id = 341: 0    JAIPUR
dtype: object
Id = 22: 0    JALANDHAR
dtype: object
Id = 311: 0    JALANDHAR
dtype: object
Id = 29: 0    JALANDHAR
dtype: object
Id = 24: 0    KANPUR
dtype: object
Id = 26: 0    LUCKNOW
dtype: object
Id = 202: 0    LUCKNOW
dtype: object
Id = 25: 0    KARNAL
dtype: object
Id = 243: 0    LUCKNOW
dtype: object
Id = 272: 0    LUCKNOW
dtype: object
Id = 32: 0    BANGALORE LALBAGH
dtype: object
Id = 38: 0    NELLORE
dtype: object
Id = 309: 0    HUBLI
dtype: object
Id = 39: 0    HUBLI
dtype: object
Id = 40: 0    HYDERABAD BEGUMPET
dtype: object
Id = 41: 0    KARIMNAGAR
dtype: object
Id = 334: 0    MANGALORE
dtype: object
Id = 45: 0    MYSORE
dtype: object
Id = 46: 0    MIRYALGUDA
dtype: object
Id = 47: 0    NELLORE
dtype: object
Id = 340: 0    NELLORE
dtype: object
Id = 48: 0    NIZAMABAD
dtype: object
Id = 50: 0    SINDHANUR
dtype: object
Id = 305: 0    SINDHANUR
dtype: object
Id = 53: 0    VIJAYAWADA
dtype: object
Id = 54: 0    VISHAKHAPATNAM
dtype: object
Id = 55: 0    AHMEDABAD AMBAVADI
dtype: object
Id = 304: 0    AHMEDABAD AMBAVADI
dtype: object
Id = 196: 0    AHMEDABAD AMBAVADI
dtype: object
Id = 292: 0    BARODA
dtype: object
Id = 310: 0    AHMEDABAD AMBAVADI
dtype: object
Id = 57: 0    BARODA
dtype: object
Id = 59: 0    GANDHIDHAM
dtype: object
Id = 296: 0    GANDHIDHAM
dtype: object
Id = 62: 0    LATUR
dtype: object
Id = 124: 0    NAGPUR
dtype: object
Id = 67: 0    NAGPUR
dtype: object
Id = 68: 0    NASHIK
dtype: object
Id = 70: Series([], dtype: object)
Id = 73: 0    NASHIK
dtype: object
Id = 324: 0    PARBHANI
dtype: object
Id = 275: 0    AHMEDNAGAR
dtype: object
Id = 71: Series([], dtype: object)
Id = 318: 0    RAJKOT
dtype: object
Id = 338: 0    RAJKOT
dtype: object
Id = 314: 0    RAJKOT
dtype: object
Id = 72: Series([], dtype: object)
Id = 76: 0    RAIPUR
dtype: object
Id = 85: 0    MIRYALGUDA
dtype: object
Id = 91: 0    MIRYALGUDA
dtype: object
Id = 93: 0    NELLORE
dtype: object
Id = 130: 0    RAJAHMUNDRY
dtype: object
Id = 131: 0    AURANGABAD
dtype: object
Id = 133: 0    VIJAYAWADA
dtype: object
Id = 137: 0    KARIMNAGAR
dtype: object
Id = 141: 0    LUDHIANA FEROZ GANDHI MARKET
dtype: object
Id = 283: 0    LUDHIANA   RANI JHANSI ROAD
dtype: object
Id = 148: Series([], dtype: object)
Id = 143: 0    NEW DELHI BARAKHAMBHA ROAD
dtype: object
Id = 280: 0    INDORE
dtype: object
Id = 263: 0    MANDSAUR
dtype: object
Id = 147: 0    INDORE
dtype: object
Id = 150: 0    JABALPUR
dtype: object
Id = 163: 0    AKOLA
dtype: object
Id = 56: 0    AMRAVATI
dtype: object
Id = 166: 0    SIRSA
dtype: object
Id = 199: 0    SIRSA
dtype: object
Id = 173: 0    GULBARGA
dtype: object
Id = 189: 0    HOSHANGABAD
dtype: object
Id = 298: 0    HOSHANGABAD
dtype: object
Id = 327: Series([], dtype: object)
Id = 193: 0    NIZAMABAD
dtype: object
Id = 294: 0    KOTA
dtype: object
Id = 204: Series([], dtype: object)
Id = 206: 0    KOLHAPUR
dtype: object
Id = 407: 0    SIWAN
dtype: object
Id = 207: 0    PATNA
dtype: object
Id = 246: 0    BIKANER
dtype: object
Id = 273: 0    LUCKNOW
dtype: object
Id = 301: 0    AHMEDABAD AMBAVADI
dtype: object
Id = 376: Series([], dtype: object)
Id = 343: 0    BHOPAL
dtype: object
Id = 116: 0    BHOPAL
dtype: object
Id = 325: 0    BHOPAL
dtype: object
Id = 6: 0    VIDISHA
dtype: object
Id = 330: 0    VIDISHA
dtype: object
Id = 336: 0    VIDISHA
dtype: object
Id = 3: 0    JABALPUR
dtype: object
Id = 328: 0    BILASPUR
dtype: object
Id = 308: 0    INDORE
dtype: object
Id = 209: 0    VIDISHA
dtype: object
Id = 265: 0    INDORE
dtype: object
Id = 320: 0    INDORE
dtype: object
Id = 306: 0    VIDISHA
dtype: object
Id = 11: 0    GUWAHATI
dtype: object
Id = 14: 0    JAMSHEDPUR
dtype: object
Id = 23: 0    JHANSI
dtype: object
Id = 322: 0    LUCKNOW
dtype: object
Id = 271: 0    LUCKNOW
dtype: object
Id = 33: 0    GULBARGA
dtype: object
Id = 300: 0    HUBLI
dtype: object
Id = 278: 0    HUBLI
dtype: object
Id = 145: 0    NELLORE
dtype: object
Id = 312: 0    KARIMNAGAR
dtype: object
Id = 106: 0    VISHAKHAPATNAM
dtype: object
Id = 69: 0    PARBHANI
dtype: object
Id = 332: 0    SOLAPUR
dtype: object
Id = 293: 0    PUNE APTE ROAD
dtype: object
Id = 164: 0    SOLAPUR
dtype: object
Id = 88: Series([], dtype: object)
Id = 89: 0    HOSHANGABAD
dtype: object
Id = 95: 0    TUMKUR
dtype: object
Id = 120: 0    TADEPALLIGUDEM
dtype: object
Id = 313: 0    AURANGABAD
dtype: object
Id = 136: 0    MEHBOOBNAGAR
dtype: object
Id = 138: Series([], dtype: object)
Id = 139: 0    JAMSHEDPUR
dtype: object
Id = 337: 0    INDORE
dtype: object
Id = 302: 0    INDORE
dtype: object
Id = 326: 0    MANDSAUR
dtype: object
Id = 342: 0    JABALPUR
dtype: object
Id = 151: 0    ANANTAPUR
dtype: object
Id = 162: 0    NAGPUR
dtype: object
Id = 335: 0    GULBARGA
dtype: object
Id = 303: 0    JABALPUR
dtype: object
Id = 195: 0    BALASORE
dtype: object
Id = 379: Series([], dtype: object)
Id = 370: Series([], dtype: object)
Id = 406: Series([], dtype: object)
Id = 380: 0    SAHARSA
dtype: object
Id = 323: 0    PATNA
dtype: object
Id = 269: 0    PATNA
dtype: object
Id = 270: 0    PATNA
dtype: object
Id = 233: 0    BANKURA
dtype: object
Id = 423: 0    MADHUBANI
dtype: object
Id = 274: 0    AHMEDABAD CG ROAD
dtype: object
Id = 276: 0    JALANDHAR
dtype: object
Id = 279: 0    HYDERABAD   HIMAYATHNAGAR
dtype: object
Id = 344: 0    LUCKNOW
dtype: object
Id = 357: 0    UJJAIN
dtype: object
Id = 359: 0    VARANASI
dtype: object
Id = 375: 0    REWARI
dtype: object
Id = 377: 0    BILASPUR
dtype: object
Id = 386: 0    NAGAUR
dtype: object
Id = 387: 0    CHATTARPUR
dtype: object
Id = 388: 0    KANKER
dtype: object
Id = 389: 0    CHITTOOR
dtype: object
Id = 390: 0    RATLAM
dtype: object
Id = 393: 0    BARMER
dtype: object
Id = 395: 0    UTTAR DINAJPUR
dtype: object
Id = 397: 0    FAIZABAD
dtype: object
Id = 400: Series([], dtype: object)
Id = 401: 0    SHAHDOL
dtype: object
Id = 404: 0    YAMUNANAGAR
dtype: object
Id = 405: 0    BHAVNAGAR
dtype: object
Id = 412: 0    KANPUR
dtype: object
Id = 413: 0    GWALIOR
dtype: object
Id = 414: 0    PALWAL
dtype: object
Id = 416: 0    MANDLA
dtype: object
Id = 418: 0    AHMEDABAD
dtype: object
Id = 421: 0    BAGALKOT
dtype: object
Id = 424: 0    PANIPAT
dtype: object
Id = 277: 0    BANGALORE LALBAGH
dtype: object
Id = 408: 0    GANGAPUR CITY
dtype: object

In [11]:
area = train_data_pd[train_data_pd['BranchID'] == 24].Area.mode()
area = 'NONE' if area.empty else area[0]
area

'KANPUR'

In [12]:
pd.to_datetime(train_data_pd['AuthDate'])

0        2012-02-10
1        2012-03-31
2        2017-06-17
3        2013-11-29
4        2011-12-08
            ...
128650   2018-09-22
128651   2018-09-22
128652   2018-11-23
128653   2018-12-20
128654   2018-12-31
Name: AuthDate, Length: 128655, dtype: datetime64[ns]

In [13]:
def aut_date_to_year(data):
    datetime = pd.to_datetime(data['AuthDate'])
    data['AuthYear'] = data.AuthDate.dt.year
    data.drop('AuthDate', axis=1, inplace=True)

In [14]:
def get_areas_by_ids(data):
    areas = {}
    for id in data['BranchID'].unique():
        area = data[data['BranchID'] == id].Area.mode()
        area = 'NONE' if area.empty else area[0]
        areas[id] = area
    return areas

In [15]:
def replace_areas(data):
    areas_dict = get_areas_by_ids(data)
    null_areas = data['Area'].isnull()
    data.Area = data[null_areas].Area = data['BranchID'].map(areas_dict)

In [16]:
def get_cities_by_ids(data):
    cities = {}
    for id in data['BranchID'].unique():
        city = data[data['BranchID'] == id].City.mode()
        city = 'NONE' if city.empty else city[0]
        cities[id] = city
    return cities

In [17]:
def replace_city(data):
    city_dict = get_cities_by_ids(data)
    null_city = data['City'].isnull()
    data.City = data[null_city].Area = data['BranchID'].map(city_dict)

In [18]:
def dis_date_to_year(data):
    data['DisbursalYear'] = data.DisbursalDate.dt.year
    data.drop('DisbursalDate', axis=1, inplace=True)

In [19]:
def mat_date_to_year(data):
    data['MaturityYear'] = data.MaturityDAte.dt.year
    data.drop('MaturityDAte', axis=1, inplace=True)

In [20]:
def fill_income_nan(data):
    data['MonthlyIncome'].fillna((data['MonthlyIncome'].mean()), inplace=True)

In [21]:
def fill_mat_date_nan(data):
    dif = (data['MaturityYear'] - data['DisbursalYear']).mode()[0]
    data['MaturityYear'].fillna((data['DisbursalYear'] + dif), inplace=True)

In [22]:
def drop_sex(data):
    try:
        data.drop('SEX', axis=1, inplace=True)
        return True
    except:
        return False

In [23]:
def drop_age(data):
    try:
        data.drop('AGE', axis=1, inplace=True)
        return True
    except:
        return False

In [24]:
def drop_zipcode(data):
    try:
        data.drop('ZiPCODE', axis=1, inplace=True)
        return True
    except:
        return False

In [25]:
def drop_manuf_id(data):
    try:
        data.drop('ManufacturerID', axis=1, inplace=True)
        return True
    except:
        return False

In [67]:
def add_bureau(data, bureau):
    report_counts = (bureau.groupby(['ID']).size()).to_frame('Report-Counts')
    data = data.join(report_counts, on='ID')

In [79]:
def preprocesing(data, bureau):
    # replace_city(data)
    # replace_areas(data)
    # fill_income_nan(data)
    # dis_date_to_year(data)
    # mat_date_to_year(data)
    # aut_date_to_year(data)
    # fill_mat_date_nan(data)
    # drop_age(data)
    # drop_sex(data)
    # drop_zipcode(data)
    add_bureau(data, bureau)
    # drop_manuf_id(data)

In [80]:
train_data_pd.isnull().sum()

ID                 0
Frequency          0
InstlmentMode      0
LoanStatus         0
PaymentMode        0
BranchID           0
Area               0
Tenure             0
AssetCost          0
AmountFinance      0
DisbursalAmount    0
EMI                0
AssetID            0
SupplierID         0
LTV                0
MonthlyIncome      0
City               0
State              0
Top-up Month       0
DisbursalYear      0
MaturityYear       0
AuthYear           0
dtype: int64

In [81]:
train_data_pd['ManufacturerID']

KeyError: 'ManufacturerID'

In [ ]:
preprocesing(train_data_pd, train_bureau_pd)

In [83]:
train_data_pd.isnull().sum()

ID                 0
Frequency          0
InstlmentMode      0
LoanStatus         0
PaymentMode        0
BranchID           0
Area               0
Tenure             0
AssetCost          0
AmountFinance      0
DisbursalAmount    0
EMI                0
AssetID            0
SupplierID         0
LTV                0
MonthlyIncome      0
City               0
State              0
Top-up Month       0
DisbursalYear      0
MaturityYear       0
AuthYear           0
dtype: int64

In [84]:
test_data_pd.isnull().sum()

ID                 0
Frequency          0
InstlmentMode      0
LoanStatus         0
PaymentMode        0
BranchID           0
Area               0
Tenure             0
AssetCost          0
AmountFinance      0
DisbursalAmount    0
EMI                0
AssetID            0
SupplierID         0
LTV                0
MonthlyIncome      0
City               0
State              0
DisbursalYear      0
MaturityYear       0
AuthYear           0
dtype: int64

In [85]:
preprocesing(test_data_pd, test_bureau_pd)

In [86]:
test_data_pd.isnull().sum()

ID                 0
Frequency          0
InstlmentMode      0
LoanStatus         0
PaymentMode        0
BranchID           0
Area               0
Tenure             0
AssetCost          0
AmountFinance      0
DisbursalAmount    0
EMI                0
AssetID            0
SupplierID         0
LTV                0
MonthlyIncome      0
City               0
State              0
DisbursalYear      0
MaturityYear       0
AuthYear           0
dtype: int64

In [91]:
report_counts = (train_bureau_pd.groupby(['ID']).size()).to_frame('Report-Counts')
train_data_pd = train_data_pd.join(report_counts, on='ID')
report_counts = (test_bureau_pd.groupby(['ID']).size()).to_frame('Report-Counts')
test_data_pd = test_data_pd.join(report_counts, on='ID')

In [92]:
train_data_pd.to_csv('train_data.csv', index=False)
test_data_pd.to_csv('test_data.csv', index=False)

In [94]:
train_data_pd

,ID,Frequency,InstlmentMode,LoanStatus,PaymentMode,BranchID,Area,Tenure,AssetCost,AmountFinance,...,SupplierID,LTV,MonthlyIncome,City,State,Top-up Month,DisbursalYear,MaturityYear,AuthYear,Report-Counts
0,1,Monthly,Arrear,Closed,PDC_E,1,NONE,48,450000,275000.0,...,21946,61.11,35833.33,BHOPAL,MADHYA PRADESH,> 48 Months,2012,2016.0,2012,9
1,2,Monthly,Advance,Closed,PDC,333,BHOPAL,47,485000,350000.0,...,34802,70.00,666.67,SEHORE,MADHYA PRADESH,No Top-up Service,2012,2016.0,2012,13
2,3,Quatrly,Arrear,Active,Direct Debit,1,NONE,68,690000,519728.0,...,127335,69.77,45257.00,BHOPAL,MADHYA PRADESH,12-18 Months,2017,2023.0,2017,31
3,7,Monthly,Advance,Closed,Billed,125,GUNA,48,480000,400000.0,...,25094,80.92,20833.33,ASHOK NAGAR,MADHYA PRADESH,> 48 Months,2013,2017.0,2013,4
4,8,Monthly,Arrear,Closed,Billed,152,BILASPUR,44,619265,440000.0,...,21853,71.05,27313.67,BILASPUR,CHATTISGARH,36-48 Months,2011,2015.0,2011,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128650,143390,Half Yearly,Arrear,Closed,Direct Debit,424,PANIPAT,24,470000,265601.0,...,48879,40.17,65333.33,SONIPAT,HARYANA,24-30 Months,2018,2020.0,2018,2
128651,143391,Half Yearly,Arrear,Closed,Direct Debit,424,PANIPAT,24,460000,275630.0,...,48879,59.92,83333.33,SONIPAT,HARYANA,No Top-up Service,2018,2020.0,2018,1
128652,143393,Monthly,Arrear,Active,Direct Debit,424,PANIPAT,23,545000,300733.0,...,44118,52.38,248500.00,SONIPAT,HARYANA,No Top-up Service,2018,2020.0,2018,4
128653,143394,Half Yearly,Arrear,Active,Direct Debit,424,PANIPAT,35,350000,250962.0,...,48879,50.37,84500.00,SONIPAT,HARYANA,No Top-up Service,2018,2021.0,2018,1
128654,143395,Half Yearly,Arrear,Active,Direct Debit,424,PANIPAT,24,370000,200428.0,...,48879,54.17,178166.67,SONIPAT,HARYANA,No Top-up Service,2018,2020.0,2018,1